<div class="container-fluid row  pb-5">
    <div class="col col-sm-12 col-md-6">
        <img src="../../assets/img/imgflim.png" alt="">


    </div>

    <div class="col-sm-12 col-md-6">
        <h1 class="logo display-3">Movie Star..</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus sit ullam inventore omnis architecto delectus autem eos placeat sed a. Voluptate esse consequatur earum nesciunt repellendus perspiciatis, labore delectus vel.</p>

        <form [formGroup]="newform" (ngSubmit)="onLogIn()" class="col col-sm-12 col-lg-6 logIn">
            <h2>LogIn</h2>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" name="email" formControlName="email" class="form-control rounded-pill" id="exampleInputEmail1" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" name="password" formControlName="pass" class="form-control rounded-pill" id="exampleInputPassword1">
            </div>
            <div class="btn-container">
                <div *ngIf="errMsg" class="form-text border border-danger rounded-pill p-2 mb-2"> <span> {{errMsg}} </span> </div>
            <button type="submit" ngModel class="btn btn-primary rounded-pill">LogIn</button>
        </div>
          </form>
        
    </div>
</div>
