body {
    background-color: rgb(235, 207, 47);
}

img {
    width: 100%;
    padding-top: 20px;
    position: absulate;
    top: 50px;
}

.logo {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;


}
.logIn {
    padding:30px 20px;
    background-color: aquamarine;
    border-radius: 25px;

}