<div>
    <app-header></app-header>
    <div>
      <div class="row">
        <div class="col col-sm-12 col-md-9 border-end">
          <div class="col col-12">
            <div class="d-flex justify-content-between">
            <h3>Trending Now</h3>
            <button class="btn">View All</button>
          </div>
          <p>Content Goes heree... Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium blanditiis, quaerat assumenda aperiam repellendus placeat fugiat minima, quis totam dolorem doloribus ex non. Vero eum alias a quis obcaecati inventore.</p>
          </div>
          <div class="col col-12">
            <div class="d-flex justify-content-between">
            <h3>Trending Now</h3>
            <button class="btn">View All</button>
          </div>
          <p>Content Goes heree... Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium blanditiis, quaerat assumenda aperiam repellendus placeat fugiat minima, quis totam dolorem doloribus ex non. Vero eum alias a quis obcaecati inventore.</p>
          </div>
          <div class="col col-12">
            <div class="d-flex justify-content-between">
            <h3>Trending Now</h3>
            <button class="btn">View All</button>
          </div>
          <p>Content Goes heree... Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium blanditiis, quaerat assumenda aperiam repellendus placeat fugiat minima, quis totam dolorem doloribus ex non. Vero eum alias a quis obcaecati inventore.</p>
          </div>

        </div>
        <div class="col col-sm-12 col-md-3">
          hhdhduwhidiwdhu
        </div>
      </div>
    </div>
</div>
